@import './base.scss';
@import './flex.scss';
@import './font.scss';

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #303030;
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}
html{
    font-size: 100px;
}
body{
    font-size: 0.14rem;
    color: rgba(255,255,255,0.87);
}

.ant-card{
    background: $mainColor;
    .ant-card-head{
        border-color: $bgColor;
    }
}

.ant-tabs-bar{
    margin: 0;
}

.ant-tabs-content{
    border: 1px solid #707070;
}

.headline{
    font-size: 0.24rem;
}

.large{
    font-size: 0.9rem;
}